h3{
    color: yellow;
}

h3{
    color: yellow;
}

.photo-container{
    background-color: #FF6B6B;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
    justify-content:space-between;
    align-content: flex-start;
    

}



.a div{
    height: 135px;
    width: 200%;
    background-color: #FFff;;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#upload-img{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}